<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
	</head>

	<body>
		<div id='body'>
			<div id='header'>
				<a style='padding-right: 30%; position: sticky;' href="/"><img id='title' src="{{ url_for('static',filename='images/logo.png') }}"></a>
				<div><a href="/" class='urls'>Home</a></div>
				<div><a href="/about" class='urls'>About</a></div>
				<div><a href="/shop" class='urls'>Shop</a></div>
			</div>

			<div id='main'>
				<div id='about-title' class='text'><h1>The Members of Azanthys</h1></div>
				<!-- design the members page, such that it is interactive -->
				<div id='member-images'>
					<img src="{{ url_for('static',filename='images/ivo.jpg') }}" class='member-photo'>
					<img src="{{ url_for('static',filename='images/mitko.jpg') }}" class='member-photo'>
					<img src="{{ url_for('static',filename='images/nedi.jpg') }}" class='member-photo'>
					<img src="{{ url_for('static',filename='images/yasen.jpg') }}" class='member-photo'>
					<img src="{{ url_for('static',filename='images/pesho.jpg') }}" class='member-photo'>
				</div>

				<div id='band-bio' class='text'>

				</div>
			</div>

			<div id='footer' class='text'>
				<ul>
						<li>
							Social 1: <a href="">Social 1 Link</a>
						</li>
						<li>
							Social 2: <a href="">Social 2 Link</a>
						</li>
					</ul>
			</div>
		</div>

		<script>
			function fadeIn() {

				let i = 200;

				let interval = setInterval(() => {
					if (i >= 250) {
						clearInterval(interval);
					}

					images[0].style.height = `${i}px`;
					images[0].style.width = `${i}px`;

					images[1].style.height = `${i}px`;
					images[1].style.width = `${i}px`;

					images[2].style.height = `${i}px`;
					images[2].style.width = `${i}px`;

					images[3].style.height = `${i}px`;
					images[3].style.width = `${i}px`;

					images[4].style.height = `${i}px`;
					images[4].style.width = `${i}px`;

					i++;

				}, 30);
			}

			function loadBio(name) {
				// const xhttp = new XMLHttpRequest();

				// xhttp.open("GET", `/static/${name}.txt`, true);
				// xhttp.send();

				// xhttp.onload = function() {
		    	// 	bio.innerHTML = this.responseText;
			    // }

				// TODO: change!
				return "fake Bio";
			}

			let images = document.getElementsByClassName('member-photo');
			let bio = document.getElementById('band-bio');
			let names = ['ivo', 'mitko', 'nedi', 'yasen', 'pesho'];

			for (let i = 0; i < images.length; i++) {
				images[i].onmouseover = () => {
					loadBio(names[i]);
				}

				images[i].onmouseout = () => {
					loadBio('band');
				}
			}

			window.addEventListener('load', (event) => { fadeIn(); loadBio('band'); });
		</script>
	</body>
</html>
