<!DOCTYPE html>
    <head>
        <!-- <link rel="" type="text/javascript" href="/static/crypto.js"> -->
        <script src="/static/crypto.js">

        </script>
    </head>
    <body>
        <a href="" id="link"></a>
        <div style="text-align: center;">
            <form action="" method="POST" >
                <label for="password">Password</label>
                <input id='password', type="password" name="password">
                <br>
                <br>
                <input type="submit" id="btn-enter" value="Enter">
            </form>
        </div>
    </body>
</html>
