<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
	</head>

	<body>
		<div id='body'>
			<div id='header'>
				<a style='padding-right: 30%; position: sticky;' href="/"><img id='title' src="{{ url_for('static',filename='images/logo.png') }}"></a>
				<div><a href="/" class='urls'>Home</a></div>
				<div><a href="/about" class='urls'>About</a></div>
				<div><a href="/shop" class='urls'>Shop</a></div>
			</div>

			<div id='main'>
				<div id="contentFormsContainer">
					<div id="contentBioFormsOuterContainer">
						<h1 class="text">Bios</h1>

						<div id="contentFormsRow1" class = "contentFormInnerContainer">
							<div id="band-bio" class="bio">
								<form action="/admin/cms/bio/band" method="POST">
									<h2 class="text">
										Band Bio
									</h2>

									<textarea id="band-bio" name="band-bio"></textarea>

									<br>
									<br>

									<input type="submit" value="Submit" />

									<br>
									<br>
								</form>
							</div>

							<div id="nedi-bio" class="bio">
								<form action="/admin/cms/bio/nedi" method="POST">
									<h2 class="text">
										Nedi Bio
									</h2>

									<textarea id="band-bio" name="nedi-bio"></textarea>

									<br>
									<br>

									<input type="submit" value="Submit" />

									<br>
									<br>
								</form>
							</div>

							<div id="mitko-bio" class="bio">
								<form action="/admin/cms/bio/mitko" method="POST">
									<h2 class="text">
										Mitko Bio
									</h2>

									<textarea id="band-bio" name="mitko-bio"></textarea>

									<br>
									<br>

									<input type="submit" value="Submit" />

									<br>
									<br>
								</form>
							</div>
						</div>

						<div id="contentFormsRow2" class="contentFormInnerContainer">
							<div id="ivo-bio" class="bio">
								<form action="/admin/cms/bio/ivo" method="POST">
									<h2 class="text">
										Ivo Bio
									</h2>

									<textarea id="band-bio" name="ivo-bio"></textarea>

									<br>
									<br>

									<input type="submit" value="Submit" />

									<br>
									<br>
								</form>
							</div>

							<div id="yasen-bio" class="bio">
								<form action="/admin/cms/bio/yasen" method="POST">
									<h2 class="text">
										Yasen Bio
									</h2>

									<textarea id="band-bio" name="yasen-bio"></textarea>

									<br>
									<br>

									<input type="submit" value="Submit" />

									<br>
									<br>
								</form>
							</div>

							<div id="pesho-bio" class="bio">
								<form action="/admin/cms/bio/pesho" method="POST">
									<h2 class="text">
										Pesho Bio
									</h2>

									<textarea id="band-bio" name="pesho-bio"></textarea>

									<br>
									<br>

									<input type="submit" value="Submit" />

									<br>
									<br>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div id="ceontentSingleFormContainer" class="contentFormInnerContainer">
					<form action="/admin/cms/single_url", method="POST">
						<h1 class="text">Single</h1>
						<label for="single-link" class="text">Link for the single</label>
						<input type="text" id="single-link" name="single-link">

						<br>
						<br>

						<input type="submit">
					</form>
				</div>

				<div id="contentConcertsFormsContainer" class="contentFormInnerContainer">
					<h1 class="text">Concerts</h1>

					<form id='gigDatesForm' action="/admin/cms/gig_dates" method="POST">
						<input type="submit" value="Submit">
					</form>

					<button id="addEvent">Add Event</button>
				</div>

			</div>

			<div id='footer' class='text'>
				<ul>
					<li>
						Social 1: <a href="">Social 1 Link</a>
					</li>
					<li>
						Social 2: <a href="">Social 2 Link</a>
					</li>
				</ul>
			</div>
		</div>

		<script>
			const eventBtn = document.getElementById('addEvent');
			const gigDatesForm = document.getElementById('gigDatesForm');
			let eventCounter = 1;

			eventBtn.addEventListener('click', () => {
				let dateInput = document.createElement("input");
				dateInput.setAttribute('type', 'text');
				dateInput.setAttribute('id', `date-${eventCounter}`);
				dateInput.setAttribute('name', `date-${eventCounter}`);

				let dateLabel = document.createElement("label");
				dateLabel.setAttribute('for', `date-${eventCounter}`);
				dateLabel.innerHTML = `Date for event ${eventCounter}: `;

				let eventTitle = document.createElement("input");
				eventTitle.setAttribute('type', 'text');
				eventTitle.setAttribute('id', `event-${eventCounter}`);
				eventTitle.setAttribute('name', `eventTitle-${eventCounter}`);

				let titleLabel = document.createElement("label");
				titleLabel.setAttribute('for', `event-${eventCounter}`);
				titleLabel.innerHTML = `Title for event ${eventCounter}: `;

				let eventLink = document.createElement("input");
				eventLink.setAttribute('type', 'text');
				eventLink.setAttribute('id', `link-${eventCounter}`);
				eventLink.setAttribute('name', `eventlink-${eventCounter}`);

				let linkLabel = document.createElement("label");
				linkLabel.setAttribute('for', `link-${eventCounter}`);
				linkLabel.innerHTML = `Link for event ${eventCounter}: `;

				gigDatesForm.prepend(document.createElement('br'));
				gigDatesForm.prepend(document.createElement('br'));
				gigDatesForm.prepend(eventLink);
				gigDatesForm.prepend(linkLabel);
				gigDatesForm.prepend(document.createElement('br'));

				gigDatesForm.prepend(eventTitle);
				gigDatesForm.prepend(titleLabel);
				gigDatesForm.prepend(document.createElement('br'));

				gigDatesForm.prepend(dateInput);
				gigDatesForm.prepend(dateLabel);
				gigDatesForm.prepend(document.createElement('br'));

				eventCounter++;
			});

		</script>
	</body>
</html>
