body{
	background-image: linear-gradient(#2D2424, #9E8F8F);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#body {
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: right;
	text-align: center;
	flex-direction: row;
	background-color: black;
	position: fixed;
	width: 100%;
}

.urls {
	text-decoration: none;
	color: white;
	font-family:  monospace;
	font-size: 13pt;
}

#header > div {
	padding: 1%;
}

#header #title {
	padding-right: 35%;
	text-align: center;
	justify-content: center;
	margin: 0;
    padding: 0;
	width: 150px;
	height: 40px;
}

#main {
	display: flex;
	margin: 0;
    padding: 0;
	flex-direction: column; 
	justify-content: center;
	margin: 3.8%;
}

#member-images {
	display: flex;
	text-align: center;
	padding-top: 10%;
	flex-direction: row;
	justify-content: center;
}

#footer {
	display: flex;
	justify-content: left;
	background-color: #281E1E;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.text {
	font-family:  monospace;
	color: white;
}

#single-advert {
	font-size: 26pt;
}

#concert-advert {
	font-size: 23pt;
}

.ul {
	font-size: 18pt; list-style-position: inside; padding-left: 34%; margin: 0; color: white;
}

#video-player {
	border-radius: 3px;
}

a {
	color: #53A8EA;
}

.member-photo {
	width: 0px;
	height: 0px;
	padding-left: 3%;
}

.member-photo:hover {
    animation-name: enlarge;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
  0%  { height: 250px; width: 250px;}
  5% { height: 300px; width: 300px;}
  100% { height: 250px; width: 250px;}
}